/* Minimalist CSS reset and base styles */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
}

/* Headings */
h1 {
  margin: 2rem 0 1rem;
  font-size: 2rem;
}

h2 {
  margin-top: 2rem;
}

/* Center the map */
#map {
  height: 600px;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Center the table container */
#resorts-table-container {
  text-align: center;
  margin-top: 2rem;
}

#resorts-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  width: auto;
}

#resorts-table th,
#resorts-table td {
  padding: 12px 16px;
  border: 1px solid #000000;
}

#resorts-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

#resorts-table tbody tr:hover {
  background-color: #b5d8f6;
  cursor: pointer;
}

#region-search,
#region-search-btn {
  margin: 10px;
  padding: 6px;
  font-size: 14px;
}

.leaflet-marker-icon.invisible-marker {
  display: none !important;
}